@model LabMaintanance6.Models.AllUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AllUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hashPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hashPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email_verified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_verified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResetToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResetToken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResetTokenExpiry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResetTokenExpiry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passwordConfirmation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passwordConfirmation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.role_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.role_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
