@model IEnumerable<LabMaintanance6.Models.AllUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hashPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email_verified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResetToken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResetTokenExpiry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.passwordConfirmation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.role_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hashPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email_verified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResetToken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResetTokenExpiry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.passwordConfirmation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.role_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.user_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.user_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.user_id })
        </td>
    </tr>
}

</table>
