@model LabMaintanance6.Models.Complain

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Additional custom CSS styles */
    .complain-details {
        margin-top: 20px;
        background-color: #f8f8f8;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

        .complain-details dt {
            font-weight: bold;
            color: #337ab7;
        }

    .delete-btn-container {
        margin-top: 20px;
    }
</style>

<h2>Delete</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="complain-details">
                <h4>Complain Details</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Name Of the Item
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name_Of_the_Item)
                    </dd>

                    <dt>
                        Description
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.description)
                    </dd>

                    <dt>
                        Location
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.location)
                    </dd>

                    <dt>
                        Image
                    </dt>
                    <dd>
                        @if (Model.image_data != null)
                        {
                            var base64Image = Convert.ToBase64String(Model.image_data);
                            var imgSrc = $"data:image;base64,{base64Image}";
                            <img src="@imgSrc" alt="Complain Image" class="img-thumbnail" style="max-width: 200px; max-height: 150px;" />
                        }
                    </dd>

                    <dt>
                        Priority
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Priority.priority1)
                    </dd>

                    <dt>
                        Repaired Status
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Repaired_Staus.R_Status)
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("Delete", "Complains", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="delete-btn-container">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
