@model LabMaintanance6.Models.Complain

@{
    ViewBag.Title = "Details";
}

<h2>Complain Details</h2>

<div class="details-container">
    <div class="details-row">
        <div class="details-label">
            @Html.DisplayNameFor(model => model.Name_Of_the_Item)
        </div>
        <div class="details-value">
            @Html.DisplayFor(model => model.Name_Of_the_Item)
        </div>
    </div>

    <div class="details-row">
        <div class="details-label">
            @Html.DisplayNameFor(model => model.description)
        </div>
        <div class="details-value">
            @Html.DisplayFor(model => model.description)
        </div>
    </div>

    <div class="details-row">
        <div class="details-label">
            @Html.DisplayNameFor(model => model.location)
        </div>
        <div class="details-value">
            @Html.DisplayFor(model => model.location)
        </div>
    </div>

    <div class="details-row">
        <div class="details-label">
            Image
        </div>
        <div class="details-value">
            @if (Model.image_data != null)
            {
                <img src="@Url.Action("GetImage", "Complain", new { id = Model.complain_id })" alt="Complain Image" />
            }
            else
            {
                <span>No image available</span>
            }
        </div>
    </div>

    <div class="details-row">
        <div class="details-label">
            @Html.DisplayNameFor(model => model.status)
        </div>
        <div class="details-value">
            @Html.DisplayFor(model => model.status)
        </div>
    </div>

    <div class="details-row">
        <div class="details-label">
            @Html.DisplayNameFor(model => model.AllUser.username)
        </div>
        <div class="details-value">
            @Html.DisplayFor(model => model.AllUser.username)
        </div>
    </div>

    <div class="details-row">
        <div class="details-label">
            @Html.DisplayNameFor(model => model.Priority.priority1)
        </div>
        <div class="details-value">
            @Html.DisplayFor(model => model.Priority.priority1)
        </div>
    </div>

    <div class="details-row">
        <div class="details-label">
            @Html.DisplayNameFor(model => model.Repaired_Staus.R_Status)
        </div>
        <div class="details-value">
            @Html.DisplayFor(model => model.Repaired_Staus.R_Status)
        </div>
    </div>
</div>

<div class="action-links">
    @Html.ActionLink("Edit", "Edit", new { id = Model.complain_id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</div>
