@model LabMaintanance6.Models.AllUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AllUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hashPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hashPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email_verified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_verified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResetToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResetToken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResetTokenExpiry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResetTokenExpiry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passwordConfirmation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passwordConfirmation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.role_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.role_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.user_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
